.post_body {
    padding-top: 64px;
    box-sizing: border-box;
    background-color: inherit;
    /* width: 1120px; */
    width: 736px;
    margin: auto;

}

.title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: #474747;
    margin-bottom: 0px;
}

.divider {
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #e7e8ea;
}

.description {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin-top: 18px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -.0866667px;
    color: #6a6a6a;
}

.period{
display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

.period::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../img/iconCalendar16.svg);
}

.text{
    margin-left: 6px;
}

.viewCount {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

.viewCount::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/iconEyesOpen20.svg);
}

.body_divider {
    height: 1px;
    margin: 32px 0;
    border: none;
    background-color: #e7e8ea;
}

.post {
    width: 736px;
    /* width: 1120px; */
    margin:auto;
    display: block;
}

.post1_gif_wrap {
    /* width: 873px; */
    /* height: 740px; */
    width: 568px;
    height: 489px;
    margin: auto;
    text-align: center;
    position: relative;
}

.post1_back {
    width: 568px;
    height: 489px;
}

.post1_gif {
    width: 385px;
    display: block;
    border-radius: 8px;
    position: absolute;
    left: 89px;
    top: 2px;
}

.post3 {
    width: 940px;
    height: 798px;
}

.swiper_ready {
    /* width: 1120px; */
    /* height: 810px; */
    /* background-image: url(../img/02/02-2.png); */
    width: 736px;
    height: 532px;
    background-position: center center;
    text-align: center;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgba(0,0,0,0) !important;    
    background-position: center center;
    width: 32px;
    height: 45px;
}

.swiper-button-next {
    background-image: url(../img/03/03-3.png);
    background-size: 32px 45px;
}
.swiper-button-prev {
    background-image: url(../img/03/03-4.png);
    background-size: 32px 45px;
}

.disabled_swiper_button {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.post_slider_background {
    width: 627px;
    margin: auto;
    display: block;
}

.post_gif3 {
    width: 302px;
    position: absolute;
    left: 220px;
    top: 160px;
}

.post_text3 {
    position:absolute;
    font-size: 10px;
    color: #fff;
    font-weight: 100;
    letter-spacing: -0.55px;
}

.text_type0 {
    bottom: 207px;
    right: 222px;
}

.text_type1 {
    bottom: 142px;
    right: 203px;
}

.post_gif4 {
    width: 357px;
    position: absolute;
    left: 187px;
    top: 196px;
}
