.post_body {
    padding-top: 64px;
    padding-bottom: 120px;
    box-sizing: border-box;
    background-color: inherit;
    /* width: 1120px; */
    width: 736px;
    margin: auto;

}

.title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: #474747;
    margin-bottom: 0px;
}

.title_wrap {
    /* margin: auto; */
}

.divider {
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #e7e8ea;
}

.description {
display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin-top: 18px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -.0866667px;
    color: #6a6a6a;
}

.period{
display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

.period::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../img/iconCalendar16.svg);
}

.text{
    margin-left: 6px;
}

.viewCount {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

.viewCount::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/iconEyesOpen20.svg);
}

.body_divider {
    height: 1px;
    margin: 32px 0;
    border: none;
    background-color: #e7e8ea;
}

.post1 {
    width: 736px;
    /* width: 1120px; */
    margin:auto;
    display: block;
}

.post_gif_wrap {
    /* width: 873px; */
    /* height: 740px; */
    /* background-image: url(../img/01/01.png); */
    background-image: url(../img/01/01-01.png);
    width: 568px;
    height: 489px;
    background-position: center center;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.post_gif {
    margin: auto;
    display: block;
    width: 390px;
    padding-right: 3px;
    border-radius: 10px;
    /* margin-top: 8px; */
    /* height: 479px; */
    /* box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.15); */
}

.swiper_ready {
    /* width: 1120px; */
    /* height: 810px; */
    /* background-image: url(../img/02/02-2.png); */
    width: 736px;
    height: 532px;
    background-position: center center;
    text-align: center;
    position: relative;
}


.step1_ready {
    /* background-image: url(../img/02/02-2.png); */
    background-image: url(../img/02/02-02.png);
}

.step1 {
    margin-top: 158px;
    width: 303px;
    padding-left: 6px;
}

.stepGif1 {
    width: 302px;
    position: absolute;
    left: 220px;
    top: 160px;
}

.stepGif2 {
    width: 357px;
    position: absolute;
    left: 187px;
    top: 196px;
}

.step2_ready {
    /* background-image: url(../img/03/03-1.png); */
    /* padding-right: 9px; */
    background-image: url(../img/03/03-01.png);
}

.step2 {
    margin-top: 196px;
    width: 355px;
    padding-right: 5px;
}

.swiper_title::after {
    border-bottom: solid 5px #000;
    content: '';
}

.post3 {
    width: 940px;
    height: 798px;
}

.swiper_gif{
    width: 550px;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgba(0,0,0,0) !important;    
    background-image: url(../img/02/02-03.png);
    background-position: center center;
    width: 32px;
    height: 50px;
}

.swiper-wrapper {
    width: 736px;
}

.stepBack1 {
    float: center;
    width: 736px;
    z-index: 0;
}